{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chord.css') }}">

    <meta property="og:title" content="I See Hue" />
    <meta property="og:description" content="Look how me and other people perceive hues." />
{% endblock %}

{% block script %}
    requirejs(['drawing/chord'], function(drawingChord) {
        var answers = {{ answers | safe }};
        var my_answers = {{ my_answers | safe }};
        var another_answers = {{ another_answers | safe }};
        {% if user %}
            var loggedIn = true;
        {% else %}
            var loggedIn = false;
        {% endif %}
        drawingChord(answers, my_answers, another_answers, loggedIn);
    });
{% endblock %}

{% block body %}
    <div class="container">
        <h1>How People Perceive Hues</h1>

        <div id="chordContainer">
            <div id="svgContainer">
                <svg id="results">
                    <g id="chords" fill="none">
                        <g id="all" stroke-width="0.3"></g>
                        <g id="mine" stroke-width="1.5"></g>
                        <g id="another" stroke-width="1.5"></g>
                    </g>
                    <g id="palette" fill="none"></g>
                </svg>
            </div>

            {% if user and not tested %}
                <div id="doTestNotification">
                    You have not passed the test yet.
                    <a href="{{ url_for('test') }}" class="button" id="startButton">Start it</a>
                </div>
            {% endif %}

            {% if another_user or user %}
                <div id="buttons">
                    <div id="buttonsInnerContainer">
                        <div class="toggle" id="allButton">
                            <span>All people</span>
                        </div>
                        {% if another_user %}
                            <div class="toggle" id="anotherButton">
                                <span>{{ another_user.name }}</span>
                            </div>
                        {% endif %}
                        {% if user %}
                            <div class="toggle" id="mineButton">
                                <span>Your results</span>
                            </div>
                        {% endif %}
                    </div>
                    {% if tested %}
                        <div id="resultComments">
                            <p>
                                {% if mutual > 0 %}
                                    {{ mutual }}% of people perceive
                                {% else %}
                                    Nobody perceives
                                {% endif %}
                                hues like you

                            </p>
                                    
                            <div class="fb-share-button" data-href="{{ url_for('index', another_user_id=user.id, _external=True) }}" data-layout="button_count"></div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if user %}
            <p>
                You are logged in as <em>{{ user.name }}</em>.
                <a href="{{ url_for('logout') }}" id="logout" class="button">Log out</a>
            </p>
        {% else %}
            <p>
                <a href="{{ url_for('login') }}" id="login" class="button">Log in via Facebook</a> to know your results.
            </p>
        {% endif %}

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=401813086636874&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
{% endblock %}

{% block disclaimer %}
    | {{ polled_count }} people have been polled
{% endblock %}