{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chord.css') }}">
{% endblock %}

{% block script %}
    requirejs(['main', 'settings'], function(main, settings) {
        settings.loadResultUrl = "{{ url_for('results') }}";
        main();
    });
{% endblock %}

{% block body %}
    <svg id="results" width="400" height="400">
        <g id="chords"></g>
        <g id="palette"></g>
    </svg>
    <a href="{{ url_for('test') }}">Start test</a>
{% endblock %}