<!doctype html>
<html>
    <head>
        <title>I See Hue</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% block style %}{% endblock %}

        <script src="{{ url_for('static', filename='js/require.js') }}"></script>
        <script>
            requirejs.config({
                baseUrl: "{{ url_for('static', filename='js') }}",
                //urlArgs: "bust=" + (new Date()).getTime(),
                paths: {
                    'libs/d3': "libs/d3.min",
                }
                //    jquery: 'jquery-2.1.1.min'
                //},
            });

            {% block script %}{% endblock %}
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="disclaimer">
            &copy; 2014 Petr Devaikin
            {% block disclaimer %}{% endblock %}
        </div>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter27129743 = new Ya.Metrika({id:27129743,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true});
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="//mc.yandex.ru/watch/27129743" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-56950572-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>