<!doctype html>
<html>
    <head>
        <title>I See Hue</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        {% block style %}{% endblock %}

        <script src="{{ url_for('static', filename='js/require.js') }}"></script>
        <script>
            requirejs.config({
                baseUrl: "{{ url_for('static', filename='js') }}",
                urlArgs: "bust=" + (new Date()).getTime(),
                paths: {
                    'lib/d3': "lib/d3.min",
                }
                //    jquery: 'jquery-2.1.1.min'
                //},
            });

            {% block script %}{% endblock %}
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>