<!doctype html>
<html>
    <head>
        <title>I See Hue</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        {% block style %}{% endblock %}

        <script src="{{ url_for('static', filename='js/require.js') }}"></script>
        <script>
            requirejs.config({
                baseUrl: "{{ url_for('static', filename='js') }}",
                //urlArgs: "bust=" + (new Date()).getTime(),
                paths: {
                    'libs/d3': "libs/d3.min",
                }
                //    jquery: 'jquery-2.1.1.min'
                //},
            });

            {% block script %}{% endblock %}
        </script>
    </head>
    <body>
        {% block body %}{% endblock %}
        <div id="disclaimer">
            &copy; 2014 Petr Devaikin
            {% block disclaimer %}{% endblock %}
        </div>
    </body>
</html>