h1 {
  font-weight: normal;
  font-size: 30px;
  margin: 0.67em 0;
  text-align: center; }

  #chordContainer {
    text-align: center;
    position: relative;
    margin: 10px 0 50px; }
    #chordContainer #buttons {
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -42px;
      width: 130px; }
      #chordContainer #buttons .toggle {
        text-align: left;
        padding: 0.5em 1em;
        margin: 0.5em 0 0;
        transition: all 0.1s ease-out 0s; }
        #chordContainer #buttons .toggle:not(.active) {
          cursor: pointer;
          background: none;
          color: #999CA6;
          border-left: 3px solid #efefef; }
          #chordContainer #buttons .toggle:not(.active) span {
            border-bottom: 1px dashed #999CA6; }
            #chordContainer #buttons .toggle:not(.active):hover {
              background: #ECEBEB;
              border-left: 3px solid #999CA6; }
        #chordContainer #buttons .toggle.active {
          border-left: 3px solid #83806F;
          background: #EAE8E5;
          color: #83806F; }
          #chordContainer #buttons .toggle.active span {
            border-bottom: none; }
      #chordContainer #buttons p {
        text-align: left;
        font-size: 12px;
        margin: 2px 0 0 19px;
        color: #B8B8B8;
        font-style: italic; }
    #chordContainer #doTestNotification {
      text-align: left;
      position: absolute;
      right: 0px;
      top: 50%;
      width: 115px;
      font-size: 16px;
      margin-top: -65px;
      background: #EAE8E5;
      padding: 0.5em 1em; }
      #chordContainer #doTestNotification .button {
        margin: 10px 0 0;
        font-size: 16px;
        background: #51B54E;
        color: white;
        display: block; }
        #chordContainer #doTestNotification .button:hover {
          background: #4E9B4C; }

svg {
  height: 400px; }
  svg #chords #all {
    transition: opacity 0.2s ease-out 0s; }
    svg #chords #mine {
      transition: opacity 0.2s ease-out 0s; }

#pngContainer {
  display: none; }

  #login {
    background: #3b5998;
    color: #fff;
    transition: background 0.1s ease-out 0s; }
    #login:hover {
      background: #133783; }

p {
  text-align: center; }
