h1 {
  font-weight: normal;
  font-size: 30px;
  margin: 0.67em 0;
  text-align: center; }

  #chordContainer {
    text-align: center;
    position: relative;
    margin: 10px 0 50px; }
    #chordContainer #buttons {
      position: absolute;
      right: 0px;
      top: 50%;
      max-width: 160px;
      min-width: 130px;
      transform: translateY(-50%); }
      #chordContainer #buttons #buttonsInnerContainer {
        display: inline-block; }
        #chordContainer #buttons .toggle {
          text-align: left;
          margin: 0.5em 0 0;
          padding: 0.5em 1em;
          transition: all 0.2s ease-out 0s; }
          #chordContainer #buttons .toggle:not(.active) {
            cursor: pointer;
            color: #999CA6;
            border-left: 3px solid #efefef;
            background: none; }
            #chordContainer #buttons .toggle:not(.active) span {
              border-bottom: 1px dashed #999CA6; }
              #chordContainer #buttons .toggle:not(.active):hover {
                background: #ECEBEB;
                border-left: 3px solid #999CA6; }
          #chordContainer #buttons .toggle.active {
            border-left: 3px solid #83806F;
            color: #83806F;
            background: #EAE8E5; }
            #chordContainer #buttons .toggle.active span {
              border-bottom: none; }
      #chordContainer #buttons #resultComments {
        position: absolute;
        top: 100%;
        text-align: left; }
        #chordContainer #buttons #resultComments p {
          text-align: left;
          font-size: 12px;
          margin: 2px 0 0 19px;
          color: #B8B8B8;
          font-style: italic; }
          #chordContainer #buttons #resultComments .fb-share-button {
            margin: 5px 0 0 19px;
            opacity: 0.1;
            transition: all 0.2s ease-out 0s; }
            #chordContainer #buttons #resultComments .fb-share-button:hover {
              opacity: 1; }

#doTestNotification {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease-out 0s; }
  #doTestNotification .button {
    margin: 10px 0 0;
    font-size: 16px;
    background: #51B54E;
    color: white;
    display: block; }
    #doTestNotification .button:hover {
      background: #4E9B4C; }

svg {
  height: 400px; }
  svg #chords #all {
    transition: all 0.2s ease-out 0s; }
    svg #chords #mine {
      transition: all 0.2s ease-out 0s; }

#login {
  background: #3b5998;
  color: #fff;
  transition: background 0.1s ease-out 0s; }
  #login:hover {
    background: #133783; }

p {
  text-align: center; }
