svg #palette path {
    fill: none;
    stroke-width: 3;
}

svg #chords path {
    fill: none;
    stroke-width: 0.3;
    opacity: 0.5;
}

svg #chords path.mine {
    fill: none;
    stroke-width: 1.5;
    opacity: 0.7;
}