body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    cursor: pointer;
}

p {
    margin: 0.5em;
}