body div {
    position: relative;
    float: left;
}

#hueSample {
    width: 100px;
    height: 100px;
}

#baseColor {
    width: 100px;
    height: 100px;
}

#nextColor {
    width: 100px;
    height: 100px;
}


svg .palette {
    fill: none;
    stroke-width: 3;
}

svg .colorArc {
    fill: none;
    stroke-width: 0.5;
}