body {
    position: relative;
    float: left;
}

#hueSample {
    width: 10px;
    height: 10px;
}

#baseColor {
    width: 10px;
    height: 10px;
}

#nextColor {
    width: 10px;
    height: 10px;
}


svg .colorArc {
    fill: none;
    stroke-width: 2;
}