$toggle-color: #999CA6;
$transition: all 0.2s ease-out 0s;

h1 {
    font-weight: normal;
    font-size: 30px;
    margin: 0.67em 0;
    text-align: center;
}

#chordContainer {
    text-align: center;
    position: relative;
    margin: 10px 0 50px;

    #buttons {
        position: absolute;
        right: 0px;
        top: 50%;
        max-width: 160px;
        min-width: 130px;
        transform: translateY(-50%);

        #buttonsInnerContainer {
            display: inline-block;
        }

        .toggle {
            text-align: left;
            margin: 0.5em 0 0;
            padding: 0.5em 1em;
            transition: $transition;

            &:not(.active) {
                cursor: pointer;
                color: $toggle-color;
                border-left: 3px solid #efefef;
                background: none;

                span {
                    border-bottom: 1px dashed $toggle-color;
                }

                &:hover {
                    background: #ECEBEB;
                    border-left: 3px solid $toggle-color;
                }
            }

            &.active {
                border-left: 3px solid #83806F;
                color: #83806F;
                background: #EAE8E5;

                span {
                    border-bottom: none;
                }
            }
        }

        #resultComments {
            position: absolute;
            top: 100%;
            text-align: left;

            p {
                text-align: left;
                font-size: 12px;
                margin: 2px 0 0 19px;
                color: #B8B8B8;
                font-style: italic;
            }

            .fb-share-button {
                margin: 5px 0 0 19px;
                opacity: 0.1;
                transition: $transition;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}


#doTestNotification {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    font-size: 16px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: $transition;

    .button {
        margin: 10px 0 0;
        font-size: 16px;
        background: #51B54E;
        color: white;
        display: block;

        &:hover {
            background: #4E9B4C;
        }
    }
}

svg {
    height: 400px;

    #chords {
        #all {
            transition: $transition;
        }

        #mine {
            transition: $transition;
        }
    }
}

#pngContainer {
}

#login {
    background: rgb(59, 89, 152);
    color: #fff;
    transition: background 0.1s ease-out 0s;

    &:hover {
        background: rgb(19, 55, 131);
    }
}

p {
    text-align: center;
}