$sampleDiameter: 120px;
$basicDiameter: 100px;
$basicTop: 150px;
$descriptionColor: #bbb;

$arrowOpacity: 0.6;
$hintWidth: 200px;

$commonShadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
$hoveredShadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);

.container {
    margin-top: 20px;
}

.testCase {
    position: relative;
    width: 2 * $sampleDiameter;
    height: $basicTop + $basicDiameter;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;

    .description {
        position: absolute;
        font-size: 14px;
        color: $descriptionColor;
        white-space: nowrap;

        &.orDescription {
            top: $basicTop + $basicDiameter / 2 - 10;
            left: 50%;
            margin-left: -7px;
        }
    }

    .colorContainer {
        position: absolute;

        .huePanel {
            box-shadow: $commonShadow;
            transition: box-shadow 0.2s ease-out 0s;
        }

        &#sampleContainer {
            left: 50%;
            margin-left: -$sampleDiameter / 2;
            width: $sampleDiameter;
            top: 0;

            .leftDescription {
                top: $sampleDiameter / 2 - 10;
                right: $sampleDiameter + 10;
            }

            .rightDescription {
                top: $sampleDiameter / 2 - 10;
                left: $sampleDiameter + 10;
            }

            .huePanel {
                width: $sampleDiameter;
                height: $sampleDiameter;
                border-radius: $sampleDiameter / 2;
            }
        }

        &#baseContainer, &#nextContainer {
            top: $basicTop;  
            width: $basicDiameter;

            .huePanel {
                width: $basicDiameter;
                height: $basicDiameter;
                border-radius: $basicDiameter / 2;

                &:not(.afterSelect) {
                    cursor: pointer;

                    &:hover {
                        box-shadow: $hoveredShadow;
                    }
                }
            }
        }

        .hint {
            font-family: 'Bad Script', cursive;
            font-size: 18px;
            width: $hintWidth;
            line-height: 1.2em;
        }

        &#baseContainer {
            .leftDescription {
                top: $basicDiameter / 2 - 10;
                right: $basicDiameter + 10;
                text-align: right;
            }

            #leftArrow {
                position: absolute;
                left: -110px;
                top: 90px;
                text-align: center;

                img {
                    opacity: $arrowOpacity;
                }
            }
        }

        &#nextContainer {
            right: 0px;

            .rightDescription {
                top: $basicDiameter / 2 - 10;
                left: $basicDiameter + 10;
            }

            #rightArrow {
                font-family: 'Bad Script', cursive;
                position: absolute;
                right: -110px;
                top: 90px;
                text-align: center;

                img {
                    opacity: $arrowOpacity;
                }
            }
        }
    }
}

#letsStart {
    text-align: center;
    margin-top: 45px;
}

#caseTitle {
    font-style: italic;
    margin-top: 2em;
    font-size: 20px;
    text-align: center;
}

.tutorial {
    &.hidden {
        visibility: hidden;
    }
}